<home>
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Status</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{code}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td>{{status}}</td>
                <td>{{stock}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
</home>